.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 4rem;
    padding-bottom: 4rem;
    row-gap: 3rem;
    margin: 0 6rem;
}
.book{
    margin: 0 6rem;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card{
    overflow: hidden;
}



.card img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  
}
.card img:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.1);
}


@media screen and (max-width : 850px) {

    .book{
    margin: 0 2rem;
    margin-top: 4rem;
    }
    .main-container{
        margin: 1rem 3rem;
    }
}
